<!doctype html>
<html lang="en">
<head>
<!-- Title -->
<title>News Sharer Project</title>
<!-- Required meta tags -->
<title>News Sharer Project - Profile</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
<body>
    <!-- Container -->
    <div class="container-fluid">
    <!-- Header -->
    <div class="header row border-bottom">
        <div class="col-6">
            <h1 class="font-italic font-weight-bold">News Sharer</h1>
        </div>
        <!-- My Posts / Logout -->
        <div class="col-6">
           
        <% if user_signed_in? %>
        <!-- class="float-end header-links" -->
            <%= link_to "Sign Out", custom_destroy_user_session_path, method: :get, class: "float-end header-links"  %>
            <%= link_to 'Home', root_path, class: "float-end header-links", style: "margin-right: 10px;" %>
      
      <%else %>
        <!-- code here for else-->
      
      <% end %>

        </div>
    </div>
    <!-- DEVISE messages-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <% if user_signed_in? %>

    <!-- Greet the User-->
    <div class="row">
        <div class="col-12">
            <h2> Hello <%= current_user.email.split('@').first %> </h2>
            <h3> My Posts </h3>
        </div>
    </div>

    <!-- Content Shown -->
    <div class="post row">
        <div class="col">
        <% if Post.where(user_id: current_user.id).empty? %>
          <p class="border-top border-bottom">You didn't make any news posts.</p>
        <% else %>  
        <!-- Loop over all posts with current user's id -->
        <% Post.where(user_id: current_user.id).each do |post| %>
          <div class="user_profile_my_posts card shadow-lg p-3 mb-5 bg-white rounded">
            <!-- User's Post Information-->
            <div class="user_profile_my_posts_information">
              <h4>Title: <%= post.title %></h4>
              <p>Date Posted: <%= post.created_at.strftime('%m/%d/%Y') %></p>
              <p>Category:  <%= post.category.category if post.category_id  %> </p>
              <a href="<%= post.url %>">Link to the news article</a>

              <p class="card-body text-center">
              Upvotes <span id="upvote-count-<%= post.id %>"><%= post.cached_votes_up %></span> | 
             Downvotes <span id="downvote-count-<%= post.id %>"><%= post.cached_votes_down %></span>
           </p>
            </div>
            <!-- User's Post Actions (Edit / Delete)-->
            <div class="user_profile_my_posts_actions">
              <div class="float-start">
              <a href="<%= edit_user_profile_post_path(post.user, post) %>" class="btn btn-success">Edit</a>
                <a href="#" class="btn btn-danger" data-post-id="<%= post.id %>" onclick="confirmDelete(event)" data-turbolinks="false">Delete</a>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>
        <!-- JavaScript for AJAX Delete -->
        <script>
        function confirmDelete(event) {
          event.preventDefault();
          const postID = event.target.dataset.postId;
          const confirmation = confirm("Are you sure you want to delete this post?");
      
          if (confirmation) {
            // If the user confirms, send AJAX request for deletion
            const url = `/posts/${postID}`;
            const token = document.querySelector('meta[name="csrf-token"]').content;
      
            const xhr = new XMLHttpRequest();
            xhr.open("DELETE", url);
            xhr.setRequestHeader("X-CSRF-Token", token);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function () {
              if (xhr.status === 200) {
                // Handle successful deletion
                console.log('Post deleted successfully.');

    


              } else {
                console.error('Failed to delete post.');
              }
            };
            xhr.onerror = function () {
              console.error('Error occurred while deleting post.');
            };
            xhr.send();
          }
        }
      </script>
      
        
      
            </div>
        </div>
    </div>
  
  <%else %>
    <p>Please  <%= link_to "register for a new account", new_user_registration_path%> or <%= link_to 'sign in', new_user_session_path %> to view the contents on this website.</p>
  



    
  
  <% end %>
  




    </div>
  </body>
</html>



