<!doctype html>
<html lang="en">
<head>
<!-- Title -->
<title>News Sharer Project</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
<body>
    <!-- Container -->
    <div class="container-fluid">
    <!-- Header -->
    <div class="header row border-bottom">
        <div class="col-6">
            <h1 class="font-italic font-weight-bold">News Sharer</h1>
        </div>
        <!-- My Posts / Logout -->
        <div class="col-6">
           
        <% if user_signed_in? %>
        <!-- class="float-end header-links" -->
            <%= link_to "Sign Out", custom_destroy_user_session_path, method: :get, class: "float-end header-links"  %>
            <%= link_to 'My posts', user_profile_and_posts_profile_path, class: "float-end header-links", style: "margin-right: 10px;" %>
      
      <%else %>
        <!-- code here for else-->
      
      <% end %>

        </div>
    </div>
    <!-- DEVISE messages-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <% if user_signed_in? %>

    <!-- Greet the User -->
    <div class="row home-user-area border-bottom">
        <div class="col-6">
            <p> Hello <%= current_user.email.split('@').first %> </p>
            <p>You last signed in at:</p>
            <p><%= current_user.last_sign_in_at.strftime('%d/%m/%Y at %I:%M %p') %> UTC time</p>
    
            <!-- DEVISE messages -->
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div>



        



        




        <div class="col-6">








        <%= form_with(model: @post, url: posts_path, format: :html, data: { turbo: false }) do |form| %>
          <!-- URL TITLE -->
          <div class="form-group">
            <%= form.text_field :title, id: "addPostTitle", class: "form-control", placeholder: "URL Title", required: true %>
          </div>
          <!-- URL LINK -->
          <div class="form-group">
            <%= form.text_field :url, id: "addPostURL", class: "form-control", placeholder: "URL Link", required: true %>
          </div>
          <!-- CATEGORY -->
          <div class="form-group">
            <%= form.select :category_id, options_for_select([
              ['Government', '1'], # Assuming 1 is the ID of the 'Government' category in the database
              ['Politics', '2'],
              ['Education', '3'],
              ['Health', '4'],
              ['Environment', '5'],
              ['Economy', '6'],
              ['Business', '7'],
              ['Sports', '8'],
              ['Funny', '9']
            ]), {}, class: "form-control" %>
          </div>

          <%= form.submit "Submit", class: "btn btn-primary" %>
        <% end %>
        
        
        









      </div>









      
      





    <!-- Content Shown -->

    <% if @ordered_posts.empty? %>
    <!-- If no posts are found-->
    <p class="border-top">No news articles posted.</p>
    <% else %>
    <!-- Loop through each post and create a card for it -->
    <h3>Posts in the last 24 hours</h3>
    <% @ordered_posts.each do |post| %>
      <div class="post row border-top">
      <div class="col">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <!-- Post title -->
            <h5 class="card-title text-center"><%= post.title %></h5>

            <!-- Post information -->
            <p class="card-subtitle mb-2 text-muted text-center">
              Posted by <%= post.user.email if post.user_id %>
              on <%= post.created_at&.strftime('%d/%m/%Y at %I:%M %p') %> | Category: <%= post.category.category if post.category_id  %> 
            </p>
            <!-- Post URL -->
            <p class="card-body text-center">
              <!-- <%= post.url %> -->
              <a href="<%= post.url %>"> Link to the news article </a>
            </p>
            <!-- Upvote / Downvote buttons -->
            <div class="float-start">
            <!-- link_to -->
            <div class="voting-container">
              <%= button_to "Upvote", upvote_post_path(post), method: :post, class: "voting-button btn btn-success" %>
              <%= button_to "Downvote", downvote_post_path(post), method: :post, class: "voting-button btn btn-danger"%>
            </div>   
              </div>
            <!-- Upvote / Downvote counters -->
            <div class="float-end">
              <p class="card-body text-center">
                 Upvotes <span id="upvote-count-<%= post.id %>"><%= post.cached_votes_up %></span> | 
                Downvotes <span id="downvote-count-<%= post.id %>"><%= post.cached_votes_down %></span>
              </p>
            </div>      
          </div>
        </div>
      </div>
    </div>
  <% end %>
  


    <% end %>
  
  







  <%else %>
    <p>Please  <%= link_to "register for a new account", new_user_registration_path%> or <%= link_to 'sign in', new_user_session_path %> to view the contents on this website.</p>
  



    
  
  <% end %>
  




    </div>
  </body>
</html>



